spring:
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/miaosha
    driver-class-name: com.mysql.jdbc.Driver
#    type: com.alibaba.druid.pool.DruidDataSource

#    #使用Druid数据源
#    type: com.alibaba.druid.pool.DruidDataSource
mybatis:
  type-aliases-package: com.roy.miaosha.domain
  configuration:
    map-underscore-to-camel-case: true
    default-fetch-size: 100
    default-statement-timeout: 3000
  mapper-locations: classpath:com/roy/miaosha/dao/*.xml

#redis
redis:
  host: 192.168.50.232
  port: 6798
  poolMaxTotal: 10
  poolMaxIdle: 10
  poolMaxWait: 3
  timeout: 3
#redis.host=192.168.220.128
#redis.port=6379
#redis.timeout=3
#redis.password=123456
#redis.poolMaxTotal=10
#redis.poolMaxIdle=10
#redis.poolMaxWait=3

#spring.datasource.url=jdbc:mysql://192.168.220.128:3306/miaosha?useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&useSSL=false
#spring.datasource.username=root
#spring.datasource.password=123456
#spring.datasource.driver-class-name=com.mysql.jdbc.Driver
#spring.datasource.type=com.alibaba.druid.pool.DruidDataSource
#spring.datasource.filters=stat
#spring.datasource.maxActive=2
#spring.datasource.initialSize=1
#spring.datasource.maxWait=60000
#spring.datasource.minIdle=1
#spring.datasource.timeBetweenEvictionRunsMillis=60000
#spring.datasource.minEvictableIdleTimeMillis=300000
#spring.datasource.validationQuery=select 'x'
#spring.datasource.testWhileIdle=true
#spring.datasource.testOnBorrow=false
#spring.datasource.testOnReturn=false
#spring.datasource.poolPreparedStatements=true
#spring.datasource.maxOpenPreparedStatements=20

# mybatis
#mybatis.type-aliases-package=com.imooc.miaosha.domain
#mybatis.configuration.map-underscore-to-camel-case=true
#mybatis.configuration.default-fetch-size=100
#mybatis.configuration.default-statement-timeout=3000
#mybatis.mapperLocations = classpath:com/imooc/miaosha/dao/*.xml
